.App {
  text-align: center;
  border: 1.5px solid red;
  height: 1079px;
  width: 1919px;
}

.num {
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  background-color: #282c34;
}

.chat-container {
  background-color: teal;
  /* border: solid 1px red; */
  height: 30vh;
  width: 28vw;
  margin-top: 22%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 0rem;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.chat-entry {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  text-align: left;

  /* overflow: hidden; */
}

.chat-message {
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
  padding-left: 0.2rem;
  font-size: smaller;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
  text-align: left;
}

.highlighted-message {
  background-color: rgba(127, 7, 160, 0.502);
  color: white;
  padding-left: 0.2rem;
  font-size: smaller;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
}

.host {
  color: rgb(255, 223, 39);
}

.sub {
  color: #6bcfa7;
}

.mod {
  color: #fe2d01;
}

.none {
  color: #cfe254;
}

.emote {
  height: 1rem;
  width: 1rem;
  padding-left: 3px;
}

.gun-img {
  margin-right: 1px;
}
