.App {
  text-align: center;
  height: 100vh;
}

.num {
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  background-color: #282c34;
}

.chat-container {
  /* border: solid 1px red; */
  height: 25vh;
  width: 25vw;
  margin-top: 22%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.chat-entry {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  /* overflow: hidden; */
}

.chat-message {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding-left: 0.2rem;
  font-size: smaller;
  font-weight: 550;
  /* text-shadow: -0.75px -0.75px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; */
  text-align: start;
  overflow: hidden;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  /* white-space: normal; */
}

span {
  height: 1rem;
  font-size: small;
  font-weight: 700;
  align-self: flex-start;
  text-shadow: none;
}

.host {
  color: cyan;
}

.sub {
  color: green;
}

.mod {
  color: red;
}

.none {
  color: purple;
}
