.App {
  text-align: center;
  /* border: 1.5px solid red; */
  height: 1080px;
  width: 1920px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, minmax(270px, 1fr));
}

.App > div {
  /* border: 1px solid black; */
}

.num {
  background-color: green;
}

ul {
  background-color: #282c34;
}

.chat-container {
  height: 24vh;
  width: 21vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-left: 0.5rem;
  padding-right: 1rem;

  position: absolute;
}

.chat-entry {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: fit-content;
  text-align: left;
}

.chat-message {
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
  padding-left: 0.2rem;
  font-size: larger;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
  text-align: left;
}

.highlighted-message {
  background-color: rgba(127, 7, 160, 0.502);
  color: white;
  padding-left: 0.2rem;
  font-size: larger;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
}

.host {
  color: rgb(255, 223, 39);
  text-shadow: 1px 1px 10px black;
}

.sub {
  color: #6bcfa7;
  text-shadow: 1px 1px 10px black;
}

.mod {
  color: #fe2d01;
  text-shadow: 3px 3px 10px black;
}

.none {
  color: #f49a4a;
  text-shadow: 1px 1px 10px black;
}

.emote {
  height: 1rem;
  width: 1rem;
  padding-left: 3px;
}

.gun-img {
  margin-right: 1px;
}
