.App {
  text-align: center;
  /* border: 1.5px solid red; */
  z-index: 0;
  height: 1080px;
  width: 1920px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, minmax(270px, 1fr));
}

.App > div {
  /* border: 1px solid black; */
  z-index: 0;
}

.num {
  background-color: green;
}

ul {
  background-color: #282c34;
}

.chat-container {
  height: 24vh;
  width: 21vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-left: 0.5rem;
  padding-right: 1rem;

  position: absolute;
}

.chat-entry {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: fit-content;
  text-align: left;
}

.chat-message {
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
  padding-left: 0.2rem;
  font-size: larger;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
  text-align: left;
}

.highlighted-message {
  background-color: rgba(127, 7, 160, 0.502);
  color: white;
  padding-left: 0.2rem;
  font-size: larger;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 0rem;
}

.host {
  color: rgb(255, 223, 39);
  text-shadow: 1px 1px 10px black;
}

.sub {
  color: #6bcfa7;
  text-shadow: 1px 1px 10px black;
}

.mod {
  color: #fe2d01;
  text-shadow: 3px 3px 10px black;
}

.none {
  color: #f49a4a;
  text-shadow: 1px 1px 10px black;
}

.emote {
  height: 1rem;
  width: 1rem;
  padding-left: 3px;
}

.gun-img {
  margin-right: 1px;
}

.bits-container {
  z-index: 0;
  padding-top: 50%;
  padding-left: 20%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.bits-donation {
  margin-left: 2px;
  margin-bottom: 5px;
  background-color: indigo;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.44),
    rgba(0, 0, 0, 0)
  );

  height: 1.9rem;
  width: 3.8rem;
  color: white;
  font-size: x-large;
  border: 1px solid white;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transform: skew(-20deg);
  font-weight: bolder;
  position: sticky;
  animation: 2s ease-in;
}

.latest-bits-donation {
  margin-bottom: 5px;
  /* background-color: indigo; */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.44),
    rgba(0, 0, 0, 0)
  );
  height: 1.9rem;
  width: 3.8rem;
  color: white;
  font-size: x-large;
  border: 2px solid gold;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transform: skew(-20deg);

  font-weight: bolder;
  float: unset;
  animation: myFrames 1s ease-in;
  background-color: indigo;
}

@keyframes myFrames {
  from {
    transform: translateX(-700%) scale(0.95);
    border: 1px solid black;
  }
  to {
    transform: skew(-20deg);
  }
}
